#include <windows.h>
#include "resource.h"
#include "../src/slate_commands.h"

IDC_SLATE_ACCEL ACCELERATORS
BEGIN
    "N",            ID_FILE_NEW,            VIRTKEY, CONTROL
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL
    "X",            ID_EDIT_CUT,            VIRTKEY, CONTROL
    "C",            ID_EDIT_COPY,           VIRTKEY, CONTROL
    "V",            ID_EDIT_PASTE,          VIRTKEY, CONTROL
    "Z",            ID_EDIT_UNDO,           VIRTKEY, CONTROL
    "Y",            ID_EDIT_REDO,           VIRTKEY, CONTROL
    "A",            ID_EDIT_SELECT_ALL,     VIRTKEY, CONTROL
    "F",            ID_EDIT_FIND,           VIRTKEY, CONTROL
    VK_DELETE,      ID_EDIT_DELETE,         VIRTKEY
END

IDI_APP_ICON ICON "slate.ico"

IDD_FIND_DIALOG DIALOGEX 0, 0, 210, 110
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Find what:",-1,7,10,50,8
    EDITTEXT        IDC_FIND_TEXT,60,8,140,14,ES_AUTOHSCROLL
    GROUPBOX        "Direction", -1,7,28,120,44
    CONTROL         "Forwards", IDC_FIND_FORWARD, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 16,40,60,10
    CONTROL         "Backwards", IDC_FIND_BACKWARD, "Button", BS_AUTORADIOBUTTON, 16,56,60,10
    CONTROL         "Match case", IDC_FIND_MATCHCASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 140,40,60,10
    DEFPUSHBUTTON   "Find Next", IDC_FIND_NEXT, 60,84,60,14
    PUSHBUTTON      "Cancel", IDC_FIND_CANCEL, 140,84,60,14
END
